{% extends 'base.html' %}

{% block content %}

<select id="item" name="item_region">
    <option value="-1">Choose One</option>
    {% for region in unique_regions %}
      <!-- Populate this dropdown with items from your database -->
      <option id="{{region}}"
              type="option"
              value="{{ region }}">
              {{ region }}
      </option>
    {% endfor %}        
    </select>
    <button id="tear_search" type="submit" onclick="updateSort(this)">Search</button>
{% for tear in tears_data %}
    <div class="tear">
        <table class="tear_table">
            <tr>
                <th class="table_th">Done</th>
                <td>
                    <button 
                        data-item="tear_radio" 
                        id="{{tear.id}}"
                        item="{{tear.item}}"
                        region="{{tear.region}}"
                        {% if tear.done == 0 %} 
                            value=0 
                            class="item-button tear_{{tear.id}} notfound"
                        {% elif tear.done == 1 %}
                            value=1
                            class="item-button tear_{{tear.id}} completed"
                        {% endif %}
                        onclick="cycleValues(this)">
                        {% if tear.done == 0 %} 
                            Not Found
                        {% elif tear.done == 1 %}
                            Found
                        {% endif %}
                    </button>
                </td>
            </tr>
            <tr>
                <th class="table_th">Name</th>
                <td class="table_td">{{ tear.name }}</td>
            </tr>
            <tr>
                <th class="table_th">Memory</th>
                <td class="table_td">{{ tear.memory }}</td>
            </tr>
            <tr>
                <th class="table_th">Coord</th>
                <td class="table_td">{{ tear.coord }}</td>
            </tr>
            <tr>
                <th class="table_th">Tower</th>
                <td class="table_td">{{ tear.tower }}</td>
            </tr>
            <tr>
                <th class="table_th">Location</th>
                <td class="table_td">{{ tear.location }}</td>
            </tr>
        </table>
    </div>
{% endfor %}
<script src="{{ url_for('static', filename='dragontears.js') }}"></script>
{% endblock %}